@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pangolin&family=Staatliches&display=swap');


a{
  color:#fff;
}

a:hover{
  color:darkgrey;
}




nav .container{
margin-right: 5px;
text-decoration: none;

}

.nav{
  margin: 5px 10px 20px 5px;
  height: 150px;
width: 100%;
   background-color: rgba(0, 0, 0, 0.507);

}

.navLinks{
text-decoration: none;
  font-size: 25px;
  font-family: 'Handlee', cursive;
font-family: 'Pangolin', cursive;
}

.qouteLinks{
  font-family: 'Handlee', cursive;
  font-family: 'Pangolin', cursive;
font-size: 50px;
letter-spacing: 5px;
margin-left: 20px;
}

.navButton{
  margin-right: 50px;
}

.quote{
  color: rgb(245, 247, 243);
  font-size: 40px;
  
}