@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
.jumbotron{
  margin-bottom: 0;
}
.QoutesCards{
  padding-right: 50px;
  font-family: 'Indie Flower', cursive;
}
.my-p{
color: black;
 font-size: 18px;
 height: 180px;
 width:120px,solid #ccc;
  font:16px/26px Georgia, Garamond, Serif;
  overflow:auto;

}