@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pangolin&family=Staatliches&display=swap');

.jumbotron{
  margin-bottom: 0;
}
.QoutesCards{
  padding-right: 50px;
  font-family: 'Indie Flower', cursive;
}
.my-p{
color: rgb(17, 17, 17);
 font-size: 18px;
 height: 180px;
 width:120px,solid #ccc;
  font:20px/26px Georgia, Garamond, Serif;
  overflow:auto;
/* border: solid 1px ;
background-color: rgba(133, 133, 114, 0.692); */
}

.bi{
  
  font-family: 'Handlee', cursive;
  font-family: 'Pangolin', cursive;
}
.bi:hover{
  

  border-radius: 90px;
box-shadow: 0 0 9px rgb(89, 132, 226), 0 0 12px rgb(131, 176, 235), 0 0 4px  rgb(105, 133, 245);
}


  
