@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pangolin&family=Staatliches&display=swap');

.textt{
    color: rgb(252, 252, 248);
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
  

}

.shdow{
    border-radius:15px;
	box-shadow: 0 0 9px rgb(89, 132, 226), 0 0 12px rgb(131, 176, 235), 0 0 4px  rgb(105, 133, 245);
}
.butt{
    border-radius: 100px;


}

.shareButton{
    border-radius: 10px;
    padding:5px 15px 5px 15px;
    font-weight: bold;
    background-color: aliceblue;
    color:    rgb(59, 59, 59);

  font-family: 'Handlee', cursive;
  font-family: 'Pangolin', cursive;
    
}

.shareButton:hover{
background-color:  rgb(59, 59, 59);
color: aliceblue;
}